html,
body {
  height: 100%;
  position: relative;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 96%;
  padding: 0px 2%;
  overflow: hidden;
}

#full-container {
  position: relative;
  height: 100%;
}

#full-container #header {
  position: relative;
  text-align: center;
}

#full-container #header .logotype a>b {
  color: #808080;
}

#full-container #header .logotype {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  padding-bottom: 15px;
}

#full-container #header .logotype a {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.5px;
}

#full-container #header .filter-by--data {
  display: inline-block;
  width: 500px;
  padding: 25px 0;
}

#full-container #header .filter-by--data input[type="text"] {
  font-size: 14px;
}

#full-container #header .filter-by--data .range--slider {
  float: left;
  width: 100%;
  margin-top: 25px;
}

#full-container #header .filter-by--data .range--slider span {}

#full-container #datas-section {
  box-shadow: inset 0px 0px 15px #00000012;
  float: left;
  max-width: 100%;
  background: #f8f8f8;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  width: 100%;
}

#full-container #datas-section .blocks {
  float: left;
  max-width: 100%;
  height: 100%;
  overflow-x: auto;
  width: 100%;
  position: relative;
}

#full-container #datas-section:before {
  content: '';
  position: absolute;
  left: 0;
  width: 150px;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, #f8f8f8, transparent);
  z-index: 5;
}

#full-container #datas-section:after {
  content: '';
  position: absolute;
  right: 0;
  width: 150px;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, #f8f8f8, transparent);
  z-index: 5;
}

#full-container #datas-section .blocks .scroll {
  float: left;
  max-width: 9999px;
  min-width: 100%;
}

#full-container #datas-section .blocks .scroll .column {
  float: left;
  padding: 25px;
  width: 100%;
  position: relative;
  min-height: 250px;
}

#full-container #datas-section .blocks .datas {
  float: left;
  width: max-content;
  position: relative;
  padding: 25px;
  border-top: solid 2px #e0e0e0;
}

#full-container #datas-section .blocks .datas .data {
  float: left;
  margin: 0 35px;
  color: #a7a7a7;
  font-weight: 300;
  position: relative;
  width:70px;
}

#full-container #datas-section .blocks .datas .data:nth-child(1) {
  margin-left: 0;
}

#full-container #datas-section .blocks .datas .data:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 2px;
  background: #e0e0e0;
  top: -25px;
  left: 50%;
}

#full-container #section {
  float: left;
  padding: 25px;
  width: 100%;
}

#full-container #section .blocks {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
}

#full-container #section .blocks .block {
  text-align: left;
  width: 800px;
  display: inline-block;
}

#full-container #section .blocks .block .card {
  margin-bottom: 15px;
}

#full-container #section .blocks .block .card .card-title {
  text-align: center;
}

#full-container #section .blocks .block .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  padding: 0 20px;
}

#full-container #section .blocks .block .bottom h6 {
  font-size: 14px;
  font-weight: 400;
}

#full-container #section .blocks .block .bottom .badge {
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  margin-left: 0;
}

#full-container #section .blocks .block .bottom .btn-primary {
  font-size: 12px;
  background-color: #18889a;
  border-color: #18889a;
}

#full-container #section .blocks .block .bottom .btn-primary:focus {
  background: #18889a;
  border: solid 1px #18889a;
}
/*
#full-container #datas-section .scroll .progress-bar {
  float: left;
  display: inline-block;
  padding: 8px 25px;
  border-radius: inherit;
  height: auto;
  position: relative;
  border-radius: 5px;
  overflow: inherit;
}
*/

#full-container #datas-section .scroll .progress {
  float: left;
  display: inline-block;
  height: inherit;
  position: absolute;
  cursor:pointer;
}

#full-container #datas-section .scroll .progress.row1 {
  bottom: 20px;
}

#full-container #datas-section .scroll .progress.row2 {
  bottom: 60px;
}

#full-container #datas-section .scroll .progress.row2 .progress-bar {
  background-color: #28a745!important;
}

#full-container #datas-section .scroll .progress.row3 {
  bottom: 100px;
}

#full-container #datas-section .scroll .progress.row3 .progress-bar {
  background-color: #ffc107!important;
}

#full-container #datas-section .scroll .progress.row4 {
  bottom: 140px;
}

#full-container #datas-section .scroll .progress.row4 .progress-bar {
  background-color: #dc3545!important;
}

#full-container #datas-section .scroll .progress.row5 {
  bottom: 180px;
}

#full-container #datas-section .scroll .progress.row5 .progress-bar {
  background-color: #17a2b8!important;
}

#full-container #datas-section .blocks::-webkit-scrollbar-track {
  transition: 0.5s all;
  background: #fafafa;
}

#full-container #datas-section .blocks::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 50px;
  transition: 0.5s all;
}

#full-container #datas-section .blocks::-webkit-resizer {
  height: 7px;
  transition: 0.5s all;
  border-radius: 50px;
}

#full-container #datas-section .blocks::-webkit-scrollbar {
  height: 7px;
  transition: 0.5s all;
  border-radius: 50px;
}