.tooltip {background: #0ca2ff;border-radius: 5px;font-size: 16px;color: #fff;text-align: center;position: absolute;z-index: 99999999999;width: 235px;line-height:  25px;padding: 9px 0;margin-top: -3%;}
