<template>
  <div>
    <div id="header">
      <div class="wrapper">
        <div class="logotype">
          <a href="#" class="ld-ext-left" :class="{ 'running': loader }">
            <div class="ld ld-ring ld-spin"></div>timeline <b>/</b> mirea.me</a>
        </div>
        <div class="filter-by--data ld-over" :class="{ 'running': filter_loader }">
          <div class="ld ld-ring ld-spin"></div>
          <div class="form-group px-5">
            <input type="text" class="form-control" placeholder="Введите фильтр..." v-model="filter">
          </div>
          <vue-slider ref="slider" v-bind="slider" v-on:callback="getEvents" class="mx-auto mt-5"></vue-slider>
        </div>
      </div>
    </div>
    <div id="datas-section" v-if="events" class="ld-over" :class="{ 'running': events_loader }">
      <div class="ld ld-ring ld-spin"></div>
      <div class="blocks">
        <div class="scroll">
          <div class="column">
            <div v-for="event in events" :class="`progress ${event.row}`" data-toggle="tooltip" data-placement="top" :title="event.title" :style="{ 'width': event.width, 'left': event.left }" @click="select(event)">
              <div class="progress-bar w-100" :class="{ 'progress-bar-striped': event.selected }">{{ event.text ? event.title : '&nbsp;' }}</div>
            </div>
          </div>
          <div class="datas">
            <div v-for="date in slider.data" class="data">{{ date }}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="section" v-if="event">
      <div class="wrapper">
        <div class="blocks">
          <div class="block">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
              </div>
            </div>
            <div class="bottom">
              <h6><!--span class="badge badge-secondary">A-206</span --> c {{ convertTimeFull(event.from) }} по {{ convertTimeFull(event.to) }}</h6>
              <!--h6><span class="badge badge-info">Учебный отдел ИТ</span></h6-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import vueSlider from 'vue-slider-component'

export default {
  name: 'Home',
  components: {
    vueSlider
  },
  data() {
    return {
      slider: {
        value: null,
        width: '80%',
        height: 6,
        dotSize: 18,
        min: 2,
        max: 99,
        interval: 3,
        data: null,
        lazy: true,
        bgStyle: {
          'backgroundColor': '#dee2e6'
        },
        sliderStyle: [
          {
            'backgroundColor': '#007bff',
            'boxShadow': 'none'
          },
          {
            'backgroundColor': '#007bff',
            'boxShadow': 'none'
          }
        ],
        processStyle: [
          {
            'backgroundColor': '#a6c8ec'
          }
        ],
        tooltipStyle: {
          'backgroundColor': '#000',
          'borderColor': '#000'
        }
      },
      start: null,

      loader: false,
      filter_loader: false,
      events_loader: false,

      filter: '',
      event: null,
      events: []
    }
  },

  mounted() {
    this.init()
  },

  methods: {
    async init() {
      this.loader = true

      //await this.auth()
      await this.getRange()
      await this.getEvents()

      this.loader = false
    },

    async auth() {
      try {
        const res = await this.$http.post('/auth/login', {
          username: 'testuser',
          password: 'testuser123'
        })
      } catch(err) {
        console.log(err)
      }
    },

    async getRange() {
      this.filter_loader = true

      try {
        const res = await this.$http.get('/events/timerange')

        this.filter_loader = false

        this.generateDates(res.data.start, res.data.end)

        return true
      } catch(err) {
        console.log(err)
      }
    },

    async getEvents(values = this.slider.value) {
      this.events_loader = true

      console.log(values)

      const d1 = values[0].split('/')
      const d2 = values[1].split('/')
      const time_start = new Date(`20${d1[2]}-${d1[1]}-${d1[0]}T00:00:00.000Z`)
      const time_end = new Date(`20${d2[2]}-${d2[1]}-${d2[0]}T00:00:00.000Z`)

      try {
        const res = await this.$http.post('/events/get', { time_start, time_end })

        this.events_loader = false

        this.generateEvents(res.data)

        this.$nextTick(function() {
          $('[data-toggle="tooltip"]').tooltip()
        })

        return true
      } catch(err) {
        console.log(err)
      }
    },

    generateDates(start, end) {
      let from = (new Date(start)).getTime()
      from = from - from % 86400000
      let to = (new Date(end)).getTime()
      to = to + (86400000 - to % 86400000)
      let hours = ((to - from) / 86400000) + 8

      this.slider.data = []
      for(let i = -4; i < hours; i++) {
        const d = new Date(from + i * 86400000)
        if(i == -4) this.start = d
        this.slider.data.push(this.convertTime(d))
      }

      this.slider.value = []
      this.slider.value[0] = this.slider.data[0]
      this.slider.value[1] = this.slider.data[this.slider.data.length - 1]

      this.$refs.slider.refresh()
    },

    convertTime(d) {
      return `${d.getDate()}/${this.convertMonth(d.getMonth())}/${d.getFullYear()-2000}`
    },

    convertTimeFull(d) {
      return `${d.getDate()}/${this.convertMonth(d.getMonth())}/${d.getFullYear()-2000}`
    },

    convertMonth(month) {
      if(month < 9) return `0${month + 1}`
      return month + 1
    },

    commonEvents(e1, e2) {
      if(e1.time_start <= e2.time_start && e2.time_start <= e1.time_end) return true
      if(e1.time_start <= e2.time_end && e2.time_end <= e1.time_end) return true
      if(e2.time_start <= e1.time_start && e1.time_start <= e2.time_end) return true
      if(e2.time_start <= e1.time_end && e1.time_end <= e2.time_end) return true

      return false
    },

    checkCommon(r, e) {
      let result = false

      for(let i = 0; i < r.length; i++) {
        if(this.commonEvents(r[i], e)) {
          result = true
          break
        }
      }

      return result
    },

    processRows(r1, r2, r3, r4, r5, r6) {
      let events = []

      for(let n = 1; n < 7; n++) {
        for(let i = 0; i < eval(`r${n}`).length; i++) {
          const size = (eval(`r${n}`)[i].time_end.getTime() - eval(`r${n}`)[i].time_start.getTime()) / 86400000
          const left = (eval(`r${n}`)[i].time_start.getTime() - this.start.getTime()) / 86400000

          events.push({
            row: `row${n}`,
            width: `calc(calc(138px * ${size}) + calc(2px * ${Math.ceil(size) - 1}))`,
            left: `calc(62px + calc(140px * ${left}))`,
            text: size > 1.5 ? true : false,
            title: eval(`r${n}`)[i].title,
            description: eval(`r${n}`)[i].description,
            from: eval(`r${n}`)[i].time_start,
            to: eval(`r${n}`)[i].time_end
          })
        }
      }

      return events
    },

    generateEvents(events) {
      let r1 = []
      let r2 = []
      let r3 = []
      let r4 = []
      let r5 = []
      let r6 = []

      for(let i = 0; i < events.length; i++) {
        events[i].time_start = new Date(events[i].time_start)
        events[i].time_end = new Date(events[i].time_end)

        if(!this.checkCommon(r1, events[i])) {
          r1.push(events[i])
        } else if(!this.checkCommon(r2, events[i])) {
          r2.push(events[i])
        } else if(!this.checkCommon(r3, events[i])) {
          r3.push(events[i])
        } else if(!this.checkCommon(r4, events[i])) {
          r4.push(events[i])
        } else if(!this.checkCommon(r5, events[i])) {
          r5.push(events[i])
        } else if(!this.checkCommon(r6, events[i])) {
          r6.push(events[i])
        }
      }

      this.events = this.processRows(r1, r2, r3, r4, r5, r6)
    },

    select(event) {
      if(this.event) this.event.selected = false
      event.selected = true
      this.event = event
    }
  }
};
</script>