<template>
  <div id="full-container">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  data() {
    return {
    }
  },
  components: {

  }
};
</script>
<style lang="css">
</style>